@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-secondary: #64748b;
  --color-blue: #0284c7;
  --color-primary: #41e0ec;
  --color-dark: #0f172a;
}

/* letika websitenya di scroll sdikit ini berfungsi */
/* setelah semua @tailwind */
.navbar-fixed {
  @apply fixed top-0 z-[9999] bg-white/80 backdrop-blur-sm;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-black;
}

/* mengatur rotasi humburger */
/* mencari span pertama */
.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}
/* mencari span kedua */
.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}
/* span ketiga */
.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.hamburger-bg {
  @apply bg-white;
}

@media (max-width: 430px) {
  header {
    padding: 10px;
  }

  .rent {
    font-size: 1rem;
  }

  .hero {
    height: 100vh;
  }

  .cheap {
    margin-top: 120px;
    padding: 8px;
    text-align: center;
    font-size: 2rem;
  }

  .desc {
    margin-left: 25px;
    margin-right: 10px;
    padding: 15px;
  }

  .button {
    margin-left: 125px;
    margin-top: 125px;
  }

  .cars {
    margin-top: -40px;
    padding: 8px;
  }

  .price {
    margin-left: 40px;
  }

  .driver {
    margin-top: 60px;
  }

  .benefit {
    margin-top: 40px;
  }

  .benefit-2 {
    margin-top: 20px;
  }

  .feet {
    margin-left: 20px;
  }
}
