@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-secondary: #64748b;
  --color-blue: #0284c7;
  --color-primary: #41e0ec;
  --color-dark: #0f172a;
}

/* letika websitenya di scroll sdikit ini berfungsi */
/* setelah semua @tailwind */
.navbar-fixed {
  @apply fixed top-0 z-[9999] bg-white/80 backdrop-blur-sm;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-black;
}

/* mengatur rotasi humburger */
/* mencari span pertama */
.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}
/* mencari span kedua */
.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}
/* span ketiga */
.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.hamburger-bg {
  @apply bg-white;
}

@media (max-width: 430px) {
  header {
    padding: 10px;
  }

  .rent {
    font-size: 1rem;
  }

  .hero {
    height: auto; /* jangan pakai 100vh */
  }

  .cheap {
    margin-top: 40px;
    padding: 8px;
    text-align: center;
    font-size: 1.5rem;
  }

  .desc {
    margin: 0; /* HAPUS margin kiri kanan */
    padding: 10px;
    text-align: center;
  }

  .button {
    margin: 20px auto; /* biar ke tengah */
    display: block;
  }

  .cars {
    margin-top: 0;
    padding: 8px;
  }

  .price,
  .driver,
  .benefit,
  .benefit-2,
  .feet {
    margin: 0; /* HAPUS margin-left */
  }
}

@media (max-width: 768px) {
  .hero {
    height: auto;
  }

  .cheap,
  .desc,
  .button {
    text-align: center;
  }

  .button {
    margin: 20px auto;
    display: block;
  }
}
